/*estilos generales*/
* {
	margin:0;
	padding:0;
}
#textoportada {
    width: 100%; height: 100%;
}
#textoportada img {
    width: 100%; height: 100%;
}
html {
    background-color: #fff;
    height: 100%;
}
header {
	background:#f2f2f2;
	color:#fff;
}
footer {
	background:#5882FA;
	color:#fff;}
.container {
	margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%;
	padding: 10px 10%;
}
body {
	color: #333333;
    font: 0.75em/1.5em Arial,sans-serif;
	width:100%;
}
/* menu horizontal */
#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #819FF7;
    border-bottom: 5px solid #333333;
    float: left;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    width: 100%;
}
#nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 2%;
    padding: 2%;
    position: absolute;
    top: 49px;
    width: 96%;
    z-index: 2
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#nav > li > a {
    color: #333333;
    display: block;
    font-size: 1.3em;
    line-height: 49px;
    padding: 0 15px;
    text-transform: uppercase;
}
#nav > li:hover > a, #nav > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
}
#nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}

/* submenu */
#nav li:hover ul.subs {
    display: block;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 33%;
}
#nav ul.subs > li a {
    color: #777777;
    line-height: 10px;
}
#nav ul li a:hover {
    color: #F55856;
}
#nav ul.subs > li > a {
    font-size: 1.3em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}

/* responsive rules */
@media all and (max-width : 0px) {
    #nav > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs {
        display: block;
    }

    #nav ul.subs > li {
        display: block;
        width: auto;
    }
}
/*estilos banner*/
.main {
	width:95%;
	background:#f2f2f2;
	max-width:1000px;
	margin:20px auto;
}
.slides {
	width:100%;
	position: relative;
	z-index: 1
}
.slides img {
	width:100%;
}
.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
}
.slidesjs-pagination li {
	float:left;
}
.slidesjs-pagination li a {
	display:block;
	padding:10.5px 15px;
	color:#fff;
	text-decoration:none;
}
.slidesjs-pagination li a:hover {
	background:#000;
}

.slides .active {
	background:#000;
}

.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:12px 20px;
	float:right;
}

/*estilo menu lateral*/
#menul ul{
	width: auto;
	height: auto;
	background-color: #819FF7;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#menul li{
	list-style: none;
	display: block;
	width: 100%;
	height: auto;
	border-bottom: 2px solid #fff;
	color: black;
	font-family: helvetica;
	font-size: 16px;
	padding: 20px;
	text-align: center;
}
#menul li:hover{
	background: #F55856;
	width: 105%;
}
#menul li{
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
h1{
	font-family: helvetica;
	color: #8fbc8f
}
#menul li a{
	bottom right no-repeat;
	color:white;
	display:block;
	font-weight:normal;
	line-height:15px;
	margin:0px;
	padding:0px 20px;
	text-align:center;
	text-decoration:none;
}