#menup ul{
	width: auto;
	height: auto;
	background-color: #819FF7;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#menup li{
	list-style: none;
	display: block;
	width: 100%;
	height: auto;
	border-bottom: 2px solid #fff;
	color: black;
	font-family: helvetica;
	font-size: 16px;
	padding: 20px;
	text-align: center;
}
#menup li:hover{
	background: #F55856;
	width: 105%;
}
#menup li{
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
h1{
	font-family: helvetica;
	color: #8fbc8f
}
#menup li a{
	bottom right no-repeat;
	color:white;
	display:block;
	font-weight:normal;
	line-height:15px;
	margin:0px;
	padding:0px 20px;
	text-align:center;
	text-decoration:none;
	}