* {
	margin:0;
	padding:0;
}
.container{
	padding: 10px 10%;
}

body {
	width:100%;
}
.main {
	width:95%;
	max-width:1000px;
	margin:20px auto;
}

.slides {
	width:100%;
	position: relative;
	z-index: 1
}

.slides img {
	width:100%;
}

.slidesjs-pagination {
	background:#5882FA;
	list-style:none;
	overflow:hidden;
}

.slidesjs-pagination li {
	float:left;
}

.slidesjs-pagination li a {
	display:block;
	padding:10.5px 15px;
	color:#fff;
	text-decoration:none;
}

.slidesjs-pagination li a:hover {
	background:#000;
}

.slides .active {
	background:#000;
}

.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:12px 20px;
	float:right;
}